/*
Colors used:
Primary Color (Beige Pink): #EAD6CB;
Secondary Color (Brown Pink): #B57765;
Tertiary Color (Navy): 0B2639;
Quarternary Color (Orange): CF5D27
Quanternary Color (Lighter Orange): E38C64
*/

header {
  background-color: #F9DED1;
  padding: 10px 0;
  width: [object Object];
  height: [object Object];
  box-shadow: 5px 5px 20px rgba(11, 38, 57, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(11, 38, 57, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(11, 38, 57, 0.5);
  position: fixed;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FAF9F6;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #2f2e2d;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4; /* set line height of headings to 1.4 times font */
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p {
  font-size: 16px; /* set font size to 16px */
  line-height: 1.2; /* set line height to 1.2 times font size */
  font-style: italic; /* set font style to italic */
}

img {
  width: 100%;
}

a {
  color: #2F2E2D;
  text-decoration: none; /* No underlining */
}

nav > ul > li > a:visited {
  /* visited link */
  color: #2F2E2D;
}

nav > ul > li > a:hover {
  color: #0b2639;
  text-decoration: underline; /* Underlining when hovering over a link */
}

nav > ul > li > a:active {
  /* selected link */
  color: #b57765;
}

a:focus {
  color: black;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #2f2e2d;
  color: #fff; /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border: 4px solid #F9DED1; /* width of the border, type, color */; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  background-color: #fff;
  color: black;
  text-decoration: underline;
  opacity: 0.8;
}

.button:active {
  /* selected link */
  background-color: gray;
  color: black;
}

.button:focus {
  color: black;
  text-decoration: underline;
}

.button.contact {
  background-color: #2f2e2d;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  border: 4px solid #F9DED1; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button.contact:hover {
  background-color: #fff;
  color: black;
  text-decoration: underline;
}

.button.contact:active {
  background-color: gray;
  color: #fff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.container h1 {
  padding: 10px;
  text-align: center;
}

#skills h2 {
  text-align: center;
  padding: 10px;
}

#skills h3 {
  padding: 0;
}

#mystory h2,
p {
  text-align: center;
  margin: 0;
  padding: 0.67em 0;
}

#mystory {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0.67em 0;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #0b2639;
}

#hero h1 {
  text-align: center; /* Centers text */
  margin: 0;
  padding: 0.67em 0;
}

#work h3,
p {
  text-align: left; /* Centers text */
  margin: 0;
  padding: 0.67em 0;
}

#hero p {
  text-align: center; /* Centers text */
  margin: 0;
  padding: 0.67em 0;
}

#hero {
  background-color: #FAF9F6;
  padding: 10px;
  margin-top: 150px;
  display: inline-block;
  width: 100%;
  
  box-shadow: 5px 5px 20px rgba(11, 38, 57, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(11, 38, 57, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(11, 38, 57, 0.5);
}

#hero span {
  display: block;
}

#work h2 {
  text-align: center; /* Centers text */
  margin: 0;
  padding: 0.67em 0;
}

#contact {
  text-align: center;
}

#contact p {
  text-align: center;
}

#contact ul > li {
  display: inline-block;
  padding: 0;
  text-align: center;
}

#contact .getintouch {
  border-top: solid #0b2639;
}

#about h1 {
  text-align: center; /* Centers text */
  padding: 0.67em 0;
  font-size: 45px;
}

#myresume {
  padding-top: 20px;
}

.center {
  text-align: center;
  max-width: 250px;
}

.logo {
  max-width: 150px;
}

nav > ul {
  list-style-type: none;
}

nav > ul > li > a {
  padding-top: 70px;
  text-transform: uppercase;
  font-weight: 700;
  color: #2F2E2D;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 150px;
}

#viaeurasia h2 {
  text-align: center;
  padding: 20px;
  margin-top: 160px;
}

#viaeurasia p {
  text-align: left;
}

#myprocess h3,
p {
  text-align: left;
}

#myprocess h2 {
  text-align: center;
}

#myprocess .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #0b2639;
}

#skills ul > li > a {
  color: #0b2639;
  text-decoration: underline;
}

#skills .row {
  padding-bottom: 20px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
}

/* Small devices (320px and larger) */
@media only screen and (min-width: 320px) {
  .navtoggle li .icon {
    
    text-align: right;
    vertical-align: middle;
  }

  header {
    padding: 10px;
    min-width: 340px;
  }

  .logo {
    min-width: 100px;
    padding-top: 30px;
  }

  #hero {
    margin-top: 40px;
  }

  #about h1 {
    padding-top: 50px;
    margin-bottom: 5px;
  }

  #viaeurasia h2 {
    margin-top: 60px;
    font-size: 30px;
  }
}

/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {
  nav > ul > li {
    display: inline-block;
    width: 80px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
    margin-left: 15px;
  }

  .navtoggle li:last-child {
    display: none;
  }

  header {
    text-align: unset;
    padding: 0;
    min-width: 641px;
  }

  .logo {
    vertical-align: middle;
    min-width: 150px;
    padding-bottom: 30px;
  }

  .container {
    margin-left: 25px;
    margin-right: auto;
  }

  #hero {
    margin-top: 20px;
  }

  h1 {
    font-size: 40px;
  }

  #viaeurasia h2 {
    margin-top: 60px;
  }

  nav {
    width: auto;
    float: right;
    margin-right: 20px;
    vertical-align: middle;
  }

  nav > ul {
    margin: 1em 0;
  }

  #skills {
    float: left;
    padding: 10px;
  }

  #about h1 {
    margin: 20px 10px;
    padding-top: 50px;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h2,
  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* lg devices (1024px and larger) */
@media only screen and (min-width: 1024px) {
  .logo {
    min-width: 150px;
    margin-left: 15px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 0;
    margin-right: 20px;
    vertical-align: middle;
  }

  #hero {
    margin-top: 20px;
  }

  #mystory h2 {
    text-align: left;
  }

  #skills h2 {
    text-align: left;
    padding-left: 30px;
    margin-top: 15px;
  }

  #myresume {
    float: left;
  }

  #about h1 {
    margin: 20px 10px;
    padding-top: 50px;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-7 {
    width: 65%;
  }

  .col-lg-5 {
    width: 35%;
  }

  [class*="col-"] {
    float: left;
    padding: 30px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #viaeurasia h2 {
    margin-top: 40px;
  }

}

/* xlg devices (1440px and larger) */
@media only screen and (min-width: 1440px) {

}

@keyframes color-change {
  0% { fill: #edc655; }
  50% { fill: #fcffad; }
  100% { fill: #f76414; }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
